@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card:nth-child(6n + 1) .card-title-custom {
    @apply bg-green-100 text-green-500;
  }

  .card:nth-child(6n + 2) .card-title-custom {
    @apply bg-yellow-100 text-yellow-500;
  }

  .card:nth-child(6n + 3) .card-title-custom {
    @apply bg-red-100 text-red-500;
  }

  .card:nth-child(6n + 4) .card-title-custom {
    @apply bg-blue-100 text-blue-500;
  }

  .card:nth-child(6n + 5) .card-title-custom {
    @apply bg-orange-100 text-orange-500;
  }

  .card:nth-child(6n + 6) .card-title-custom {
    @apply bg-purple-100 text-purple-500;
  }

  .active {
    @apply rounded-full bg-blue-600 px-4 py-1 text-white;
  }

  .inactive {
    @apply px-4 py-1 text-slate-500 hover:text-slate-800;
  }
}
