.about {
  width: 100%;
  padding-top: 5rem;

  &-container {
    padding: 1rem;
    max-width: 42rem;
    margin: 0 auto;

    @media (min-width: $bpDesktop) {
      max-width: 50rem;
    }

    @media (min-width: $bpDesktopLarge) {
      max-width: 54rem;
    }
  }

  &-title {
    font-size: 17vw;
    font-weight: $semi-bold;
    line-height: 1;
    padding: 2rem 0;

    @media (min-width: $bpTablet) {
      font-size: rem(100);
      margin-bottom: 1rem;
    }

    @media (min-width: $bpDesktop) {
      font-size: rem(130);
      line-height: 0.9;
    }

    @media (min-width: $bpDesktopLarge) {
      font-size: rem(150);
      margin-bottom: 1.5rem;
    }
  }

  &-description {
    font-size: rem(16);
    font-weight: $thin;
    line-height: 1.75;
    letter-spacing: 0.5px;

    @media (min-width: $bpTablet) {
      font-size: rem(18);
      line-height: 1.85;
    }

    p {
      color: $color-grey-1;
      margin-bottom: 1rem;

      &::selection {
        color: $color-primary;
        background: $color-white;
      }
    }

    span {
      font-weight: $normal;
      color: $color-white;
    }

    a {
      color: $color-white;
      text-decoration: none;
      font-weight: $normal;
    }
  }

  &-contact {
    margin-bottom: 0.5rem;

    i {
      color: $color-grey-3;
      font-size: rem(22);
      padding-right: 1rem;

      @media (min-width: $bpTablet) {
        font-size: rem(24);
      }
    }

    a {
      font-size: rem(14);
      color: $color-white;
      text-decoration: none;
      transition: color ease-in-out 250ms;

      @media (min-width: $bpTablet) {
        font-size: rem(16);
      }

      &:hover {
        color: $color-secondary;
      }
    }
  }

  &-resume {
    margin-top: 1.5rem;

    button {
      font-size: rem(16);
      padding: 0.75rem 1.25rem;
      border-radius: 10px;
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid $color-secondary;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
