header.header.py-3
    .header-container
        div.header-logo
            a.header-logo--desktop(href="#") Fatrini <span>Nurrahmah</span>
            a.header-logo--mobile(href="#") 
                img(src="../../assets/logo.png" alt="Logo" width="40")

        nav.header-nav
            ul 
                li
                    a(href="#about") About
                li
                    a(href="#portfolio") Portfolio
                li 
                    a(href="#contact") Contact
        
        div.header-toggle
            div.header-hamburger