.header {
  position: fixed;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  background: $color-primary;

  &-container {
    max-width: 42rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-grey-300;

    @media (min-width: $bpTablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 50rem;
    }

    @media (min-width: $bpDesktop) {
      max-width: 60rem;
    }

    @media (min-width: $bpDesktopLarge) {
      max-width: 70rem;
    }
  }

  &-logo .header-logo--desktop {
    display: none;
    margin: 0;
    font-weight: $semi-bold;
    color: $color-white;
    text-decoration: none;

    span {
      font-weight: $light;
    }

    @media (min-width: $bpTablet) {
      display: inline-block;
    }
  }

  &-logo img {
    @media (min-width: $bpTablet) {
      display: none;
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    left: 0%;
    bottom: calc(-300vh - 72px);
    background: $color-primary;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    z-index: 99;

    &--open {
      clip-path: circle(250% at top right);
    }

    @media (min-width: $bpTablet) {
      position: relative;
      inset: 0;
      clip-path: none;
    }
  }

  &-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $bpTablet) {
      display: flex;
      gap: 1.5rem;
    }
  }

  &-nav li {
    display: block;

    @media (min-width: $bpTablet) {
      position: relative;
    }
  }

  &-nav a {
    display: inline-block;
    width: 100%;
    line-height: calc((100vh - 72px) / 3);
    color: $color-white;
    text-decoration: none;
    font-size: toRem(32);
    text-align: center;
    background: $color-primary;
    transition: all ease-in-out 0.3s;

    @media (min-width: $bpTablet) {
      font-size: toRem(16);
      line-height: normal;
      border-bottom: 0;
    }

    &:hover {
      background: $color-secondary;

      @media (min-width: $bpTablet) {
        background: transparent;
        color: $color-secondary;
      }
    }
  }

  &-nav .line {
    border-bottom: 1px solid $color-grey-200;

    @media (min-width: $bpTablet) {
      border-bottom: 0;
    }
  }

  &-toggle {
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0;
    cursor: pointer;

    @media (min-width: $bpTablet) {
      display: none;
    }
  }

  &-hamburger,
  &-hamburger::before,
  &-hamburger::after {
    content: "";
    display: block;
    background: $color-white;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }

  &-hamburger::before {
    transform: translateY(-9px);
  }

  &-hamburger::after {
    transform: translateY(7px);
  }

  .open .header-hamburger {
    transform: rotate(45deg);
  }

  .open .header-hamburger::before {
    opacity: 0;
  }

  .open .header-hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
}
