$color-white: #ffffff;
$color-black: #1f1717;
$color-blue: #068fff;

$color-bg-green: #c7dca7;
$color-bg-light-green: #ecf4d6;
$color-border-black: #1f171766;

$color-card-green: #f9fcf1;
$color-card-light-green: #fefffc;

$color-btn-green: rgba(121, 172, 120, 1);
$color-btn-orange: rgba(249, 181, 114, 1);
$color-btn-grey: rgba(150, 182, 197, 1);
$color-btn-red: rgba(255, 128, 128, 1);

$bs-green: rgba(121, 172, 120, 0.7) 0px 1px 4px;
$bs-orange: rgba(249, 181, 114, 0.7) 0px 1px 4px;
$bs-grey: rgba(150, 182, 197, 0.7) 0px 1px 4px;
$bs-red: rgba(255, 128, 128, 0.7) 0px 1px 4px;
