block config 
	- var name = name || "Fatrini"
	- var title = title || "Frontend Developer"

doctype html

html(lang="en")

	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{name} - #{title}

		link(rel="icon" type="image/x-icon" href="../assets/favicon.png")
		link(href="../assets/fontawesome/css/fontawesome.css" rel="stylesheet")
		link(href="../assets/fontawesome/css/solid.css" rel="stylesheet")
		link(href="../assets/fontawesome/css/brands.css" rel="stylesheet")

	body
		include ../components/navbar/navbar.pug

		main(role="main")
			block content

		include ../components/footer/footer.pug