.icon-search:before {
  font-family: "icomoon";
  content: "\e986";
}

.icon-star-full:before {
  font-family: "icomoon";
  content: "\e9d9";
}

.icon-eye:before {
  font-family: "icomoon";
  content: "\e9ce";
}

.icon-bin:before {
  font-family: "icomoon";
  content: "\e9ac";
}

.icon-star-empty:before {
  font-family: "icomoon";
  content: "\e9d7";
}
