// import tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark-mode {
    @apply bg-slate-900;
  }

  .overlay-open {
    @apply overflow-hidden;
  }

  [data-display="visible"] {
    @apply flex;
  }

  [data-display="invisible"] {
    @apply hidden;
  }
}

// import fonts & icomoon
@import "./fonts.scss";
@import "./icomoon.scss";

body {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.add-btn {
  --b: 4px; /* the thickness */
  width: 45px; /* the size */
  aspect-ratio: 1;
  border: 10px solid #334155; /* the outer space */
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #334155 90deg,
      #fff 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
  display: inline-block;
  border-radius: 50%;
}

.tooltip {
  .tooltip-text {
    visibility: hidden;
  }

  &:hover .tooltip-text {
    @media (min-width: 768px) {
      visibility: visible;
    }
  }
}
