.project {
  width: 100%;
  padding-top: 4rem;

  &-container {
    padding: 1rem;
    max-width: 42rem;
    margin: 0 auto;

    @media (min-width: $bpDesktop) {
      max-width: 50rem;
    }

    @media (min-width: $bpDesktopLarge) {
      max-width: 53rem;
    }
  }

  &-title {
    font-size: rem(36);
    padding-block: 1rem;
  }

  &-text {
    font-size: rem(16);
    font-weight: $thin;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: $color-grey-1;
    margin-bottom: 3.5rem;

    &::selection {
      color: $color-primary;
      background: $color-white;
    }

    @media (min-width: $bpTablet) {
      font-size: rem(18);
      line-height: 1.85;
    }
  }

  &-cards {
    display: grid;
    gap: 1.5rem;

    @media (min-width: $bpDesktop) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &-card {
    padding: 2rem;
    background: #202020;
    border-radius: 5px;
    border: 1px solid;
    border-color: transparent;
    transition: border-color 0.5s;
    cursor: pointer;

    &:hover {
      border-color: $color-grey-2;
    }

    &-title {
      font-size: rem(22);
      font-weight: 600;
    }

    &-tech {
      padding-block: 1.25rem;

      span {
        font-size: rem(14);
        background: rgba($color: $color-white, $alpha: 0.7);
        color: $color-primary;
        margin-right: 0.5rem;
        padding: 0.25rem 1rem;
        border-radius: 20px;
      }
    }

    &-desc {
      font-size: rem(16);
      font-weight: $thin;
      line-height: 1.75;
      letter-spacing: 0.5px;
      color: $color-grey-1;
      margin-bottom: 1rem;

      &::selection {
        color: $color-primary;
        background: $color-white;
      }
    }

    &-links {
      margin-bottom: 0.25rem;
      font-size: rem(14);
      display: flex;
      gap: 1.5rem;

      a {
        color: $color-white;
        text-decoration: none;
        transition: all ease-in-out 0.3s;

        &:hover {
          color: $color-secondary;
        }
      }

      i {
        margin-right: 7px;
      }
    }
  }

  &-card-new {
    margin-bottom: 3.5rem;

    .project-card-title {
      font-size: rem(20);
      margin-bottom: 0.5rem;

      span {
        color: $color-grey-1;
        margin-right: 1rem;
      }
    }

    .project-card-desc {
      font-size: rem(16);
      line-height: 1.75;
      color: $color-grey-1;
      margin-left: calc(25px + 16px);
      margin-bottom: 1.5rem;

      @media (min-width: $bpTablet) {
        font-size: rem(18);
        line-height: 1.85;
      }
    }

    .project-image {
      padding-left: calc(25px + 16px);
      margin-bottom: 1.5rem;

      img {
        width: 100%;
      }
    }

    .project-detail {
      padding-left: calc(25px + 16px);
      font-size: rem(16);
      line-height: 1.75;
      display: grid;
      grid-template-areas:
        'tech'
        'repo'
        'demo';
      gap: 1rem;

      @media (min-width: $bpTablet) {
        grid-template-areas:
          'tech repo'
          'tech demo';
        font-size: rem(18);
        line-height: 1.85;
      }

      &-title {
        font-weight: $medium;
      }

      ul li {
        list-style-type: none;
        color: $color-grey-1;

        &::selection {
          color: $color-primary;
          background: $color-white;
        }
      }

      a {
        text-decoration-color: $color-grey-1;
        color: $color-grey-1;
        word-break: break-all;

        &::selection {
          color: $color-primary;
          background: $color-white;
        }
      }

      &-tech {
        grid-area: tech;
      }

      &-repo {
        grid-area: repo;
      }

      &-demo {
        grid-area: demo;
      }
    }
  }
}
