@use "../base" as *;

.header {
  width: 100%;
  padding-bottom: 1rem;

  &-question {
    font-size: rem(12);
    background: $color-white;
    padding: 0.25rem 1rem;

    @media (min-width: $medium) {
      font-size: rem(14);
      padding-block: 0.5rem;
    }

    span {
      display: block;

      @media (min-width: $medium) {
        display: inline-block;
      }
    }

    button {
      margin-top: 5px;
      margin-right: 10px;
      border: 1px solid $color-black;
      border-radius: 3px;
      cursor: pointer;

      @media (min-width: $medium) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 10px;
      }

      &.btn-yes {
        background: $color-blue;
        color: $color-white;
      }

      &.btn-no {
        background: $color-white;
        color: $color-black;
      }
    }
  }

  &-banner {
    padding: 4rem;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 52%;
  }

  &-info {
    width: $container-md;
    margin: auto;

    @media (min-width: $large) {
      padding: 1rem;
    }
  }

  &-text {
    padding-top: 2rem;

    h1 {
      font-family: $ff-prompt;
      font-size: rem(22);
      font-weight: 700;
      letter-spacing: 2px;
      color: $color-black;

      @media (min-width: $large) {
        font-size: rem(28);
      }
    }
  }

  &-line {
    border-top: 1px solid $color-border-black;
    margin-block: 0.35rem 1rem;
  }

  &-details {
    font-size: rem(14);
    letter-spacing: 0.5px;
    padding: 0.5rem;
    background: $color-bg-green;
  }
}
