@use "../base" as *;

.input-check {
  margin-bottom: 1.5rem;

  label {
    font-size: rem(14);
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    user-select: none;
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  .input-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid $color-black;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid $color-white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.input-check input:checked ~ .input-checkmark {
  background: $color-blue;
}

.input-check input:checked ~ .input-checkmark::after {
  display: block;
}
