@use "../base" as *;

.result-book {
  width: $container-md;
  margin-inline: auto;
  margin-block: 2.5rem;

  @media (min-width: $medium) {
    padding: 1rem 2rem 1rem 1rem;
    margin-top: 2rem;
  }

  &-title {
    text-align: center;
    margin-block: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: $medium) {
      text-align: left;
      flex-direction: row;
      margin-block: 0 2rem;
    }

    select {
      background: transparent;
      padding: 8px;
      outline: none;

      &:focus {
        border: 2px solid $color-black;
      }
    }
  }

  &-cards {
    display: grid;
    gap: 10px;

    @media (min-width: $medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-card {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    padding: 1rem;
    font-size: rem(16);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;

    &[data-type="finished"] {
      background: $color-card-green;
    }

    &[data-type="unfinished"] {
      background: $color-card-light-green;
    }

    &[data-display="visible"] {
      display: flex;
    }

    &[data-display="hidden"] {
      display: none;
    }

    &:hover {
      border-color: $color-black;
    }
  }
}

.result-card {
  &-title {
    font-size: rem(18);
    font-weight: 500;
  }

  &-author {
    font-size: rem(14);
    padding-block: 0.75rem 0.25rem;

    span {
      font-weight: 500;
    }
  }

  &-year {
    font-size: rem(14);

    span {
      font-weight: 500;
    }
  }

  &-actions {
    font-size: rem(14);
  }
}
