nav.nav
    button.nav-hamburger
        i(class="fa-solid fa-bars")
    ul.nav-list
        li.nav-list-item
            a.nav-link(href="/index.html") Home
        li.nav-list-item
            a.nav-link(href="/projects.html") Projects
        li.nav-list-item
            a.nav-link(href="/bookmarks.html") Bookmarks