nav.nav
    button.nav-hamburger
        i(class="fa-solid fa-bars")
    ul.nav-list
        li.nav-list-item
            a.nav-link(href="#about") About
        li.nav-list-item
            a.nav-link(href="#project") Projects
        li.nav-list-item
            a.nav-link(href="#") Bookmarks