nav.nav
    ul.nav-list 
        li.nav-list-item
            a.nav-link(href="#about") About
            .line
        li.nav-list-item
            a.nav-link(href="#portfolio") Portfolio
            .line