header.header
    .header-container
        .header-logo
            a.header-logo--desktop(href="#") Fatrini <span>Nurrahmah</span>
            a.header-logo--mobile(href="#") 
                img(src=require("Images/logo.png") alt="Logo" width="40")
        
        include Views/components/navbar/navbar.pug

        .header-toggle
            .header-hamburger