.header {
  position: fixed;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  background: $color-primary;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 35px;

  &-container {
    max-width: 42rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-grey-3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $bpTablet) {
      max-width: 50rem;
    }

    @media (min-width: $bpDesktop) {
      max-width: 60rem;
    }

    @media (min-width: $bpDesktopLarge) {
      max-width: 70rem;
    }
  }

  &-logo .header-logo--desktop {
    display: none;
    margin: 0;
    font-weight: $semi-bold;
    color: $color-white;
    text-decoration: none;

    span {
      font-weight: $light;
    }

    @media (min-width: $bpTablet) {
      display: inline-block;
    }
  }

  &-logo img {
    @media (min-width: $bpTablet) {
      display: none;
    }
  }
}
