@import "./base.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $color-white;
  background: $color-primary;

  @import "../components/navbar/navbar.scss";

  main {
    min-height: calc(100vh - 130px);

    @import "../components/about/about.scss";
  }

  @import "../components/footer/footer.scss";
}
