.about {
  width: 100%;

  &-container {
    padding: 1rem;
    max-width: 42rem;
    margin: 0 auto;

    @media (min-width: $bpDesktop) {
      max-width: 50rem;
    }

    @media (min-width: $bpDesktopLarge) {
      max-width: 53rem;
    }
  }

  &-title {
    font-size: 17vw;
    font-weight: $semi-bold;
    line-height: 0.95;
    padding: 2rem 0;

    @media (min-width: $bpTablet) {
      font-size: toRem(100);
      margin-bottom: 1rem;
    }

    @media (min-width: $bpDesktop) {
      font-size: toRem(130);
      line-height: 0.85;
    }

    @media (min-width: $bpDesktopLarge) {
      font-size: toRem(150);
      margin-bottom: 1.5rem;
    }
  }

  &-description {
    font-size: toRem(16);
    font-weight: $thin;
    line-height: 1.75;
    letter-spacing: 0.5px;

    p {
      color: #777777;
      margin-bottom: 1rem;
    }

    span {
      font-weight: $normal;
      color: $color-white;
    }
  }
}
