.about#about
    .about-container
        .about-title Junior <br>Frontend <br>Developer
        .about-description
            p Hey there! I'm <span>Fatrini Nurrahmah</span>, a frontend developer with 1 year of experience. I have been working at Xtremax, which is an IT consulting company in Bandung. Currently, I'm looking for a new job since I was laid off in October (I hope this tech winter will be over soon). 
            p In my previous job I was involved in a slicing project. I work closely with backend developer to modify templates or perform maintenance. I was also involved in another project to help with the migration to Vue 3. 
            p After gaining experience in real project I realized that there are various tech stack that developers use to build a website. So now, I am trying to learn and practice some of the stacks to use in my personal project.
            p I am really hoping to continue my career in software development. I know this job is challenging because I have to  always learn new things. But I have found my passion in this field. I enjoy every process, whether it's learning or coding. I hope that everyone who visits this website knows how much I've learned about web development.