extends Views/layouts/base.pug

block style
  link(rel='stylesheet' href=require('./styles.scss'))

block content
  include Views/components/header/header.pug

  main
    include Views/components/bookmark/bookmark.pug

  include Views/components/footer/footer.pug
    
