@use "./base" as *;

@use "base";
@use "components";

@import "sweetalert2/src/sweetalert2.scss";

body {
  font-family: $ff-sans;
  color: $color-black;
  background: #ecf4d6;
}

.grid {
  width: $container-md;
  margin: auto;

  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.popup-title {
  font-size: rem(20);
  font-weight: 500;
}

.swal-input {
  margin-bottom: 1rem;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }
  input {
    display: block;
    margin: 0 auto;
  }
}
