footer.footer.mt-auto.py-3
    .footer-container 
        ul.footer-list
            li.footer-list-item
                a.footer-list-link(href="https://github.com/fnurrahmah125") 
                    i(class="fa-brands fa-github")
                    span Github  
            li.footer-list-item
                a.footer-list-link(href="https://www.linkedin.com/in/fatrini-nurrahmah-2b274a252") 
                    i(class="fa-brands fa-linkedin")
                    span Linkedin
        p.footer-copyright &copy; 2023 Fatrini Nurrahmah